/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
diagramaBD.img

/tareas/ConceptosBasicos_tarea/nbproject/private/
/tareas/ConceptosBasicos_tarea/build/
/tareas/ReutilizacionCodigo2209/nbproject/private/
/tareas/ReutilizacionCodigo2209/build/
/tareas/ReutilizacionCodigo2209/dist/
/tareas/Composicion_tarea/nbproject/private/
/tareas/Composicion_tarea/build/
/tareas/Composicion_tarea/dist/
/clases/JavaBascio2209/nbproject/private/
/clases/JavaBascio2209/build/
/clases/JavaBascio2209/dist/
/tareas/CuentaHabiente/nbproject/private/
/tareas/PruebaEjemplo/nbproject/private/
/tareas/PruebaEjemplo/build/
/tareas/PruebaEjemplo/dist/
/clases/JavaBasico2209pt2/nbproject/private/
/clases/JavaBasico2209pt2/build/
/clases/JavaBasico2209pt2/dist/
