/clases/ConceptosBasicos/nbproject/private/
/clases/ConceptosBasicos/build/
diagramaBD.img

/tareas/ConceptosBasicos_tarea/nbproject/private/
/tareas/ConceptosBasicos_tarea/build/
/tareas/ReutilizacionCodigo2209/nbproject/private/
/tareas/ReutilizacionCodigo2209/build/
/tareas/ReutilizacionCodigo2209/dist/
